  <h2>User info</h2>
  <%= image_tag('no_image.jpg') %>
  <div class="profile-container">
  <h3 class="profile-name">
 	<th>name</th><%= @user.name %>
  </h3>
  <h3 class="profile-introduction">
  <th>introduction</th><%= @user.introduction %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
 </div>
 <div>
  <%= link_to user_path(@user.id) do %>
    <%= attachment_image_tag @current_user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
  <% end %>
 </div>
 <p id="notice"><%= notice %></p>


 <h1>NEW BOOK</h1>
 <%= form_with model:@book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'CreateBook' %>
 <% end %>